@model ResetPasswordViewModel
@{
    ViewData["Title"] = "ResetSenha";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="container main-container headerOffset">

    <div class="row">
        <div class="breadcrumbDiv col-lg-12">
            <ul class="breadcrumb">
                <li><a asp-controller="Home" asp-action="Index">Home</a></li>
                <li> Sua caixa de e-mail</li>
                <li class="active"> Trocar senha</li>
            </ul>
        </div>
    </div>

    <div class="row">

        <div class="col-lg-6 col-lg-offset-3 col-md-9 col-sm-7">
            <h1 class="section-title-inner"><span><i class="fa fa-lock"></i> Novo usuário</span></h1>

            <div class="row userInfo">

                <h2 class="block-title-2"><span>Trocar senha</span></h2>

                <form role="form" class="logForm" asp-controller="Account" asp-action="ResetSenha">
                    <input asp-for="Code" type="hidden">

                    <div class="form-group reg-email">
                        <div>
                            <input asp-for="Email" class="form-control input" size="20" placeholder="Email" type="text">
                        </div>
                    </div>
                    <div class="form-group reg-password">
                        <div>
                            <input asp-for="Password" class="form-control input" size="20" placeholder="Senha"
                                   type="password">
                        </div>
                    </div>
                    <div class="form-group reg-password">
                        <div>
                            <input asp-for="ConfirmPassword" class="form-control input" size="20" placeholder="Confirme a sua senha"
                                   type="password">
                        </div>
                    </div>
                    <div>
                        <div>
                            <input name="submit" class="btn  btn-block btn-lg btn-primary" value="TROCAR SENHA" type="submit">
                        </div>
                    </div>
                    <br />
                    @await Html.PartialAsync("_ValidationSummary")

                </form>
            </div>
            <!--/row end-->

        </div>

        <div class="col-lg-3 col-md-3 col-sm-5"></div>
    </div>
    <!--/row-->

    <div style="clear:both"></div>
</div>
<!-- /wrapper -->
